body {
  background: url("img/honest-and-rare/bg.svg") no-repeat top;
  background-size: contain;
}

/*.top.mobile {*/
/*  text-align: right;*/
/*  padding: 0 15px;*/
/*}*/

/*.top.mobile a.home-link {*/
/*  padding-left: 0;*/
/*  font-size: 14px;*/
/*}*/


.img-center {
  display: block;
  margin: 0 auto;
}

body.case-detail {
  max-width: 1000px;
  margin: auto;
}


.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 90px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*height: 126%;*/
}

.before-after {
  color: #E98731;
  /*font-size: 18px;*/
}

ol {
  list-style: none;
  counter-reset: num;
  padding: 0;
  margin-top: -10px;
}

ol li {
  counter-increment: num;
  position: relative;
	margin: 5px 0 5px 30px;
	padding: 0 0 0 0;
}

ol li::before {
  content: counter(num);
  color: #55A18C;
  position: absolute;
	left: -30px;
	top: 0;
	text-align: right;
}

ol li:nth-child(-n+9):before {
	content: "0" counter(num);
}

.case-detail h1{
  margin-bottom: 95px;
}

.case-detail h3{
  font-size: 20px;
  color: #E98731;
}

#honest-and-rare-about {
  margin-top: 95px;
  margin-bottom: 95px;
  font-size: 30px;
  font-weight: normal;
}

.case-detail section {
  margin: 0 0 90px 0;
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

h2 {
  font-size: 28px;
  line-height: 38px;
}

.ol-table {
  width: calc(100% - 60px);
}

.row-status {
  margin-right: -60px;
  float: right;
}

.row-status-ok::after {
  content: url("img/honest-and-rare/green-check.svg");
}

/*.row-status-progress::after {*/
/*  color: #E98731;*/
/*  content: "в работе";*/
/*}*/

.row-status-progress::after {
  background-image: url("img/honest-and-rare/orange-check.svg");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  display: inline-block;
  width: 25px;
  height: 25px;
  content:"";
}


@media (max-width: 900px) {
  /*.top:not(:first-child) a{*/
  /*  padding-left: 20px;*/
  /*}*/

  body.case-detail {
    font-size: 14px;
    line-height: 20px;
  }

  body.case-detail h2, #honest-and-rare-about{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  #honest-and-rare-about {
    margin-top: 30px;
    /*margin-bottom: 30px;*/
  }

  .case-detail h3 {
    font-size: 18px;
  }

  .case-detail .carousel {
    margin-left: -100px;
    margin-right: -100px;
  }

  .case-detail section {
    margin: 0 0 60px 0;
  }

  .row-status-progress::after {
    background-image: url("img/honest-and-rare/orange-check.svg");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    content:"";
  }

  h2 {
    font-size: 14px;
    line-height: 22px;
  }

  .img-center {
    width: 60%;
  }

}
