.carousel-arrows {
  display: none;
}

.carousel-image {
  display: block;
  height: auto;
  min-width: 150px;
  max-width: 100%;
  margin-right: 10px;
  top: 50%;
  transform: translateY(-50%)
}

.carousel.is-fullscreen .carousel-image {
  height: auto;
  max-height: 100%;
}

@font-face {
  font-family: 'Root UI Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Root UI Regular'), local('Root UI Regular'), url('../assets/fonts/PT_Root_UI_Regular.woff2') format('woff2');
}

body {
  font-family: 'Root UI Regular';
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  /*font-family: 'Prosto One', sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  line-height: 20px;
  color: gray;
  font-weight: normal;
}

a {
  color: gray;
}

section {
  margin-top: 200px;
  padding: 0 100px;
}

section:nth-child(1), section:nth-child(2) {
  margin-top: 0;
}

.nowrap {
  white-space: nowrap;
}

.mobile {
  display: none !important;
}

h1.gray {
  color: gray;
  margin: 50px 0 100px 0;
  font-size: 40px;
}

.c1, .c2, .c3 {
  /*border: 1px solid red;*/
}

.top {
  text-align: right;
  padding: 40px 100px 20px 0;
}

.top a {
  color: gray;
  padding-left: 20px;
  text-decoration: none;
}

.top a.home-link {
  float: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: black;
  padding-left: 100px;
}


.top.mobile {
  text-align: right;
  padding: 20px 15px 0 15px;
}

.top.mobile a.home-link {
  padding-left: 0;
  font-size: 14px;
}

.portrait.desktop {
  padding-left: 30px;
}


.meet {
  padding-top: 120px;
  margin-top: 0;
}

.meet .c2{
  /*padding: 120px 0 0 55px;*/
  /*padding: 120px 0 0 0;*/
  padding: 0;
}

.meet h1 {
  font-style: normal;
  /*font-weight: normal;*/
  font-size: 40px;
  line-height: 48px;
}

.project {
  display: flex;
}

.flex {
  display: flex;
}

.meet .c1 {
  width: 360px;
  /*padding-top: 54px;*/
}
.meet .c2 {
  /*padding-left: 60px;*/
}
.meet .c2_inner{
  display: flex;
  padding-top: 80px;
}


.meet .c2_1, .meet .c2_2 {
  flex: 1 1 50%;
}
.meet .c2_2 {
  padding-left: 60px;
}

.meet .c2_inner {
  display: block;
  padding-top: 60px;
}

.meet .c2_inner .c2_2 {
  padding-left: 0;
}

.portfolio {
  margin-top: 180px;
}

.project {
  margin-top: 160px;
}

.project:first-of-type {
  margin-top: 0;
}

.project h2 {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  line-height: 70px;
  padding-bottom: 10px;
}

.project p{
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}

.project-l .c1, .project-l .c2, .project-r .c1, .project-r .c2 {
  flex: 1 1 50%;
}

.carousel-arrows {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}

.project-l .c1 {
  padding-right: 20px;
  position: relative;
}

.project-l .c1, .project-r .c2 {
  padding-top: 20px;
}

.project-r .c1, .project-l .c2 {
  /*min-width: 570px;*/
}

.project.project-l {
  margin-right: -100px;
}

.project.project-r {
  margin-left: -100px;
}

.project-r {
  padding-right: 100px;
}

.project-r .c2 {
  padding-left: 60px;
  order: 1;
  position: relative;
}

.prev, .next {
  cursor: pointer;
}

.about-me {
  /*margin-top: 100px;*/
  /*padding: 0 100px;*/

}

.experience {
  margin-top: -40px;
}

.experience > div {
  display: flex;
}

.experience .c1, .experience .c2 {
  flex: 1 1 50%;
}

.experience .row1, .experience .row2 {
  padding: 40px 0;
  /*border-top: 1px solid gray;*/
}

.experience .row2 {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;;
}

.about-me .c1 {
  /*width: 50%;*/
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  vertical-align: top;
}

.about-me .c2 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
}

.contacts h1.gray {
  margin-bottom: 50px;
}

.contacts {
  clear: both;
  margin-bottom: 60px;
}

.contacts a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
}

.contacts .icons {
  margin-top: 10px;
}

.contacts .icons a {
  margin-right: 30px;
}

.contacts img {
  height: 60px;
  width: 60px;
}

/*@media (max-width: 1390px) {*/
/*  .meet .c2 {*/
/*    padding-top: 54px;*/
/*  }*/
/*  .project-r .c2 {*/
/*    padding-top: 0;*/
/*  }*/
/*  .project-l .c1 {*/
/*    padding-top: 0;*/
/*  }*/
/*  .carousel-arrows {*/
/*    padding-bottom: 0;*/
/*  }*/
/*}*/

/*@media (max-width: 1220px) {*/
/*  .meet .c2_inner {*/
/*    display: block;*/
/*    padding-top: 60px;*/
/*  }*/

/*  .meet .c2_inner .c2_2 {*/
/*    padding-left: 0;*/
/*  }*/
/*}*/


@media (max-width: 900px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }

  section {
    margin-top: 60px;
    padding: 0 15px;
  }

  h1, .meet h1 {
    line-height: 28px;
    font-size: 22px;
  }

  section:first-child {
    margin-top: 0;
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  .carousel {
    margin-left: -15px;
    margin-right: -15px;
  }

  h1.gray {
    margin: 0;
    font-size: 22px;
  }

  .top {
    display: flex;
    padding: 0 10px 20px 10px;
    text-align: center;
    font-size: 12px;
  }

  .top a {
    padding: 0;
  }
  .top a {
    flex: 1 1 25%;
    justify-content: center;
  }

  .top a img {
    width: 20px;
    height: 33px;
  }

  .top:not(:first-child) a{
    padding-left: 20px;
  }

  .meet {
    padding-top: 60px;
  }

  .meet .flex {
    display: block;
  }

  .meet .c1 {
    width: initial;
    padding-top: 0;
  }

  .meet h2 {
    font-size: 18px;
    line-height: 20px;
  }
  .meet .c2 {
    padding: 0 0 0 20px;
    text-align: center;
  }

  .meet .c2_inner {
    display: block;
    padding-top: 10px;
  }

  .meet .c2_2 {
    padding-left: 0;
  }

  .meet .c2_1, .meet .c2_2 {
    padding-top: 40px;
  }

  .meet h3 {
    font-size: 18px;
  }

  .portrait.mobile {
    /*margin-top: -10px;*/
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .portfolio {
    margin-top: 60px;
  }

  .portfolio h1 {
    padding: 0;
  }

  .experience > div {
    display: block;
  }

  .experience .c1 {
    font-size: 16px;
  }
  .experience .c2 {
    font-size: 16px;
  }

  .project {
    display: block;
    margin-top: 80px;
  }

  .project:first-of-type {
    margin-top: 0;
  }

  .project h2 {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 0;
  }

  .project p {
    margin-top: 5px;
  }


  .project-l .c1, .project-r .c2 {
    padding-top: 0;
  }
  .project-l .c1 {
    /*padding-top: 30px;*/
  }

  .project-r, .project-l {
    padding: 0;
  }

  .project-r .c2 {
    padding: 0;
  }

  .project.project-l {
    margin-right: 0;
  }

  .project.project-r {
    margin-left: 0;
  }

  .about-me {
    margin-top: 80px;
  }

  .about-me .experience {
    margin-top: 0;
  }

  .experience .row1, .experience .row2 {
    padding: 20px 0;
  }

  .experience .row1 {
    padding-top: 10px;
  }

  .contacts h1.gray {
    margin-bottom: 10px;
  }


  .portfolio .gray {
    padding-bottom: 20px;
  }

  .contacts .gray {
    padding-bottom: 20px;
  }

  /*.contacts .flex {*/
  /*  display: block;*/
  /*}*/

  /*.contacts .flex div {*/
  /*  text-align: left !important;*/
  /*  height: 30px;*/
  /*}*/
  .contacts a {
    font-size: 18px;
    line-height: 40px;
  }
  .contacts .icons img.mobile {
    display: inline !important;
  }

  .contacts img {
    height: 40px;
    width: 40px;
  }

  .contacts .icons a {
    margin-right: 20px;
  }

}
