.carousel-image {
  display: block;
  height: auto;
  /* set min-width,
     allow images to determine cell width */
  min-width: 150px;
  max-width: 100%;
  margin-right: 10px;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%)
}

.carousel.is-fullscreen .carousel-image {
  height: auto;
  max-height: 100%;
}

@font-face {
  font-family: 'Root UI Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Root UI Regular'), local('Root UI Regular'), url('../assets/fonts/PT_Root_UI_Regular.woff2') format('woff2');
}

body {
  font-family: 'Root UI Regular';
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: 'Prosto One', sans-serif;
}

h3 {
  font-size: 24px;
  line-height: 20px;
  color: gray;
  font-weight: normal;
}


section {
  margin-top: 200px;
  padding: 0 100px;
}

section:nth-child(1), section:nth-child(2) {
  margin-top: 0;
}

.mobile {
  display: none !important;
}

h1.gray {
  color: gray;
  margin: 50px 0 100px 0;
  font-size: 48px;
}

.c1, .c2, .c3 {
  /*border: 1px solid red;*/
}

.top {
  text-align: right;
  padding: 20px 100px 20px 0;
}

.top a {
  color: gray;
  padding-left: 20px;
  text-decoration: none;
}


.meet .c2{
  padding: 120px 0 0 55px;
}

.meet h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
}

.project {
  display: flex;
}

.flex {
  display: flex;
}

.meet .c1 {
  width: 360px;
  padding-top: 54px;
}
.meet .c2 {
  padding-left: 60px;
}
.meet .c2_inner{
  display: flex;
  padding-top: 80px;
}


.meet .c2_1, .meet .c2_2 {
  flex: 1 1 50%;
}
.meet .c2_2 {
  padding-left: 60px;
}

.portfolio {
  margin-top: 180px;
}

.project {
  margin-top: 160px;
}

.project:first-of-type {
  margin-top: 0;
}

.project h2 {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  line-height: 70px;
  padding-bottom: 10px;
}

.project p{
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}

.project-l .c1, .project-l .c2, .project-r .c1, .project-r .c2 {
  flex: 1 1 50%;
}

.carousel-arrows {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}

.project-l .c1 {
  padding-right: 20px;
  position: relative;
}

.project-l .c1, .project-r .c2 {
  padding-top: 90px;
}

.project-r .c1, .project-l .c2 {
  /*min-width: 570px;*/
}

.project.project-l {
  margin-right: -100px;
}

.project.project-r {
  margin-left: -100px;
}

.project-r {
  padding-right: 100px;
}

.project-r .c2 {
  padding-left: 60px;
  order: 1;
  position: relative;
}

.prev, .next {
  cursor: pointer;
}

.about-me {
  /*margin-top: 100px;*/
  /*padding: 0 100px;*/

}

.experience {
  margin-top: -40px;
}

.experience > div {
  display: flex;
}

.experience .c1, .experience .c2 {
  flex: 1 1 50%;
}

.experience .row1, .experience .row2 {
  padding: 40px 0;
  /*border-top: 1px solid gray;*/
}

.experience .row2 {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;;
}

.about-me .c1 {
  width: 50%;
  font-family: 'Prosto One', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  vertical-align: top;
}

.about-me .c2 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
}

.contacts {
  clear: both;
}

.contacts a {
  font-family: 'Prosto One', sans-serif;
  color: black;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
}


.contacts div:last-child {
  text-align: left;
}

.contacts .flex {
  display: flex;
}

.contacts .flex div {
  flex: 1 1 33%;
  justify-content: center;
}

.contacts .flex div:last-child {
  text-align: right;
}
.contacts .flex div:nth-child(2) {
  text-align: center;
}

.contacts .gray {
  margin-bottom: 80px;
}

@media (max-width: 1390px) {
  .meet .c2 {
    padding-top: 54px;
  }
  .project-r .c2 {
    padding-top: 0;
  }
  .project-l .c1 {
    padding-top: 0;
  }
  .carousel-arrows {
    padding-bottom: 0;
  }
}

@media (max-width: 1220px) {
  .meet .c2_inner {
    display: block;
    padding-top: 60px;
  }

  .meet .c2_inner .c2_2 {
    padding-left: 0;
  }
}


@media (max-width: 1000px) {
  section {
    margin-top: 120px;
    padding: 0 15px;
  }

  section:first-child {
    margin-top: 0;
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  .carousel {
    margin-left: -15px;
    margin-right: -15px;
  }

  h1.gray {
    margin: 0;
    font-size: 29px;
  }

  .top {
    display: flex;
    padding: 0 10px 20px 10px;
    text-align: center;
    font-size: 10px;
  }

  .top a {
    padding: 0;
  }
  .top a {
    flex: 1 1 25%;
    justify-content: center;
  }

  .meet {
    /*padding: 0 10px;*/
  }

  .meet .c1 {
    width: initial;
  }
  .meet h1 {
    font-size: 20px;
    line-height: 20px;
  }
  .meet h2 {
    font-size: 18px;
    line-height: 20px;
  }
  .meet .c2 {
    padding: 0 0 0 20px;
  }

  .meet .c2_inner {
    display: block;
    padding-top: 10px;
  }

  .meet .c2_2 {
    padding-left: 0;
  }

  .portrait-full {
    display: none;
  }

  .portfolio h1 {
    padding: 0;
  }

  .experience > div {
    display: block;
  }

  .experience .c1 {
    font-size: 16px;
  }
  .experience .c2 {
    font-size: 16px;
  }

  .project {
    display: block;
    margin-top: 0;
  }

  .project h2 {
    font-size: 20px;
  }

  .project-l .c1, .project-r .c2 {
    padding-top: 0;
  }

  .project-r, .project-l {
    padding: 0;
  }

  .project-r .c2 {
    padding: 0;
  }

  .project.project-l {
    margin-right: 0;
  }

  .project.project-r {
    margin-left: 0;
  }

  .contacts .flex {
    display: block;
  }

  .contacts .flex div {
    text-align: left !important;
  }
  .contacts a {
    font-size: 18px;
  }
}
